<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BulkyWeb</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BulkyWeb.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="navbar container justify-between">
            <div class="flex">
                <a class="btn btn-ghost text-xl" asp-area="" asp-controller="Home" asp-action="Index">BulkyWeb</a>
                <ul class="max-md:hidden menu menu-horizontal gap-2">
                    <a class="btn btn-ghost" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="btn btn-ghost" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                </ul>
            </div>
            <div class="flex">
                <div class="max-md:hidden flex gap-4 items-center">
                    <i data-lucide="palette"></i>
                    <select class="select" data-choose-theme>
                        <option value="emerald">Light</option>
                        <option value="nord">Nord</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="dark">Dark</option>
                        <option value="dracula">Dracula</option>
                        <option value="dim">Dim</option>
                    </select>
                </div>

                <div class="dropdown dropdown-end md:hidden">
                    <div tabindex="0" role="button" class="btn m-1">
                        <i data-lucide="menu"></i>
                    </div>
                    <ul tabindex="0" class="dropdown-content z-[1] menu  shadow bg-base-300 rounded-box w-56 min-h-lvh top-0">
                        <li>
                            <a class="btn btn-ghost" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="btn btn-ghost" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a class="btn btn-ghost" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                        </li>
                        <li>
                            <select class="select bg-base-300 text-center" data-choose-theme>
                                <option value="emerald">Light</option>
                                <option value="nord">Nord</option>
                                <option value="fantasy">Fantasy</option>
                                <option value="dark">Dark</option>
                                <option value="dracula">Dracula</option>
                                <option value="dim">Dim</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer footer-center py-2 bg-base-200 text-base-content">
        <div class="container flex">
            &copy; 2024 - BulkyWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
