@if (TempData["success"] != null)
{
    <div id="toast" class="toast toast-top toast-end cursor-pointer select-none max-md:w-full">
        <div role="alert" class="alert alert-success">
            <i data-lucide="check"></i>
            <span>@TempData["success"]</span>
        </div>
    </div>
}

@if (TempData["error"] != null)
{
    <div id="toast" class="toast toast-top toast-end cursor-pointer select-none max-md:w-full">
        <div role="alert" class="alert alert-error">
            <i data-lucide="x"></i>
            <span>@TempData["error"]</span>
        </div>
    </div>
}
