<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] - Bulky</title>
    }
    else
    {
        <title>Bulky</title>
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <script src="~/js/theme_controller.js" asp-append-version="true"></script>
</head>

<body>
    <header>
        <div class="navbar container justify-between">
            <div class="flex">
                <a class="btn btn-ghost text-xl" asp-area="" asp-controller="Home" asp-action="Index">Bulky.Web</a>
                <ul class="max-md:hidden menu menu-horizontal gap-2">
                    <a class="btn btn-ghost" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="btn btn-ghost" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                </ul>
            </div>
            <div class="flex">
                <div class="max-md:hidden flex gap-4 items-center">
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn m-1">
                            <i data-lucide="swatch-book"></i> Themes
                            <svg width="12px" height="12px" class="h-2 w-2 fill-current opacity-60 inline-block"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
                                <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                            </svg>
                        </div>
                        <ul tabindex="0" class="dropdown-content z-[1] p-2 shadow-2xl bg-base-300 rounded-box w-52">
                            <li><input type="radio" name="theme-dropdown"
                                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                    aria-label="Default" value="dim" />
                            </li>
                            <li><input type="radio" name="theme-dropdown"
                                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                    aria-label="Dark" value="dark" /></li>
                            <li><input type="radio" name="theme-dropdown"
                                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                    aria-label="Dracula" value="dracula" /></li>
                            <li><input type="radio" name="theme-dropdown"
                                    class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                    aria-label="Nord" value="nord" /></li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown dropdown-end md:hidden">
                    <div tabindex="0" role="button" class="btn m-1">
                        <i data-lucide="menu"></i>
                    </div>
                    <ul tabindex="0"
                        class="dropdown-content z-[1] menu  shadow bg-base-300 rounded-box w-56 min-h-lvh top-0">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                        </li>
                        <li>
                            <details open>
                                <summary class="text-center">Themes</summary>
                                <ul>
                                    <li><input type="radio" name="theme-dropdown"
                                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                            aria-label="Default" value="dim" />
                                    </li>
                                    <li><input type="radio" name="theme-dropdown"
                                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                            aria-label="Dark" value="dark" /></li>
                                    <li><input type="radio" name="theme-dropdown"
                                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                            aria-label="Dracula" value="dracula" /></li>
                                    <li><input type="radio" name="theme-dropdown"
                                            class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                            aria-label="Nord" value="nord" /></li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mb-auto">
            @RenderBody()
        </main>

    </div>
    <footer class="footer footer-center py-12 bg-base-200 text-base-content absolute bottom-0">
        <div class="container flex">
            &copy; 2024 - Bulky - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
