@{ ViewData["Title"] = "Edit Product"; }
@model Product

<a asp-controller="Product" asp-action="Index" class="mb-8 group items-center link link-hover flex gap-1">
    <i data-lucide="arrow-left" class="group-hover:-translate-x-2"></i>
    Back to
    list</a>

<form method="post" class="border border-base-300 px-8 pt-8 pb-12 rounded-xl bg-base-300">
    <h2 class="mb-4">Edit Product</h2>

    <div asp-validation-summary="All" class="mb-4 text-error"></div>
    <div class="mb-4">
        <label asp-for="Title" class="mb-2"></label>
        <input asp-for="Title" class="input input-bordered w-full mb-2" />
        <span asp-validation-for="Title" class="text-error"></span>
    </div>
    <div class="mb-4">
        <label asp-for="Description" class="mb-2"></label>
        <textarea asp-for="Description" class="input input-bordered w-full mb-2" ></textarea>
        <span asp-validation-for="Description" class="text-error"></span>
    </div>

    <div class="mb-4">
        <label asp-for="ISBN" class="mb-2"></label>
        <input asp-for="ISBN" class="input input-bordered w-full mb-2" />
        <span asp-validation-for="ISBN" class="text-error"></span>
    </div>
    <div class="mb-4">
        <label asp-for="Author" class="mb-2"></label>
        <input asp-for="Author" class="input input-bordered w-full mb-2" />
        <span asp-validation-for="Author" class="text-error"></span>
    </div>
    <div class="mb-4">
        <label asp-for="ListPrice" class="mb-2"></label>
        <input asp-for="ListPrice" class="input input-bordered w-full mb-2" />
        <span asp-validation-for="ListPrice" class="text-error"></span>
    </div>
    <div class="mb-4">
        <label asp-for="Price50" class="mb-2"></label>
        <input asp-for="Price50" class="input input-bordered w-full mb-2" />
        <span asp-validation-for="Price50" class="text-error"></span>
    </div>
    <div class="mb-4">
        <label asp-for="Price100" class="mb-2"></label>
        <input asp-for="Price100" class="input input-bordered w-full mb-2" />
        <span asp-validation-for="Price100" class="text-error"></span>
    </div>
    <button type="submit" class="btn btn-primary w-full mb-4">Update</button>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
