@{ ViewData["Title"] = "Home Page"; }

<div>
    <h1>Welcome</h1>

    <p>
        Learn about
        <a class="link link-hover text-primary" href="https://learn.microsoft.com/aspnet/core"
            >building Web apps with ASP.NET Core</a
        >.
    </p>
</div>
