@model Category

<a asp-controller="Category" asp-action="Index" class="mb-8 group items-center link link-hover flex gap-1">
    <i data-lucide="arrow-left" class="group-hover:-translate-x-2"></i>
    Back to
    list</a>
<form method="post">
    <h2 class="mb-4">Create Category</h2>

    <div class="mb-4">
        <label asp-for="Name" class="mb-2"></label>
        <input asp-for="Name" class="input input-bordered w-full" />
    </div>
    <div class="mb-4">
        <label asp-for="DisplayOrder" class="mb-2"></label>
        <input asp-for="DisplayOrder" class="input input-bordered w-full" />
    </div>
    <button type="submit" class="btn btn-primary w-full mb-4">Create</button>

</form>