@model List<Category>

<div class="flex justify-between items-center mb-4">
    <h1>Category List</h1>
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary max-md:sm"><i data-lucide="circle-plus"></i>
        <span class="max-md:hidden">Create a new Category</span></a>
</div>
<table class="table table-zebra border border-base-300 -z-10">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>
